<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Note Keeper</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
    <h1>{{title}}</h1>
    <div class="form">
        <div class="form-group text-center">
            <div class="form-group">
                <label>Note Title</label>
                <input class="form-control" type="text" v-model="note.title">
            </div>
            <div class="form-group">
                <label>Note Text</label>
                <textarea class="form-control" type="text" v-model="note.text"></textarea>
            </div>
        </div>
        <button class="btn btn-primary center-block" @click="addNote">Submit</button>
    </div>
    <div>
        <div class="col-sm-12 note-area">
            <div class="col-sm-4 note" v-for="(note, index) in notes">
                <div class="card">
                    <div class="card-block">
                        <button class="close" @click="removeNote(index)">&times</button>
                        <h4 class="card-title">{{note.title}}</h4>
                        <p class="card-text">{{note.text}}</p>
                        <h6 class="card-subtitle mb-2 text-muted">{{note.date}}</h6>                    
                    </div>                
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            title: 'Note Keeper',
            note: {
                title: '',
                text: '',
            },
            notes: [
                {
                    title: 'Test default note with date',
                    text: 'I love Vue, this is awesome!',
                    date: new Date(Date.now()).toLocaleString()
                }
            ]
        },
        methods: {
            addNote() {
                let {text, title} = this.note
                this.notes.push({
                    text, 
                    title, 
                    date: new Date(Date.now()).toLocaleString()
                })
            },
            removeNote(index) {
                this.notes.splice(index, 1)
            }
        }
    })
</script>
</body>
</html>